
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.5rem;
}.invoice-ez1 {
  width: 100%;
  height: 96.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.invoice-ez1 .lock-Q61 {
  box-sizing: border-box;
  padding: 5.9rem 6.4rem 19.2rem 6.5rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/template-inovicepage-0001-1-bg.png');
}
.invoice-ez1 .lock-Q61 .auto-group-z5ft-BY1 {
  margin: 0rem 20.2rem 5.7rem 0rem;
  width: 32.8rem;
  height: 1.3rem;
  font-size: 0.9973rem;
  font-weight: 400;
  line-height: 1.2175;
  font-style: italic;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.invoice-ez1 .lock-Q61 .tanggal-terbayar-3id {
  margin: 0rem 0rem 1.5rem 40rem;
  font-size: 1.4128rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m {
  width: 100%;
  height: 61rem;
  position: relative;
  flex-shrink: 0;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .rectangle-2794-jzm {
  width: 61.6rem;
  height: 52.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .f611932e-3c28-4ec3-9cfb-b309ab213135-removebg-preview-1-daM {
  opacity: 0.3;
  width: 58rem;
  height: 58rem;
  position: absolute;
  left: 1.8rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .no-202x-dlinv-00xx-no-tahun-kode-no-urut-GNR {
  width: 18.7rem;
  height: 3.5rem;
  position: absolute;
  left: 3rem;
  top: 0.6rem;
  font-size: 1.4128rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .nama-badan-usaha-yg-didaftarkan-urutan-pertama-yang-diisi-di-form-G13 {
  width: 52.6rem;
  height: 1.8rem;
  position: absolute;
  left: 3rem;
  top: 6.8rem;
  font-size: 1.4128rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .pt-start-up-jenis-pendirian-dan-paket-1sj {
  width: 27.8rem;
  height: 1.8rem;
  position: absolute;
  left: 3rem;
  top: 21.1rem;
  font-size: 1.4128rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .item-1-PtH {
  width: 0.6rem;
  height: 1.8rem;
  position: absolute;
  left: 36.7rem;
  top: 20.8rem;
  font-size: 1.4128rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .rectangle-2795-ZwB {
  width: 57rem;
  height: 2rem;
  position: absolute;
  left: 2.3rem;
  top: 17.2rem;
  background-color: #970e28;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .rectangle-2796-5ed {
  width: 57rem;
  height: 0.3rem;
  position: absolute;
  left: 2.3rem;
  top: 25.6rem;
  background-color: #970e28;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .description-8cu {
  width: 8.5rem;
  height: 1.8rem;
  position: absolute;
  left: 13.4rem;
  top: 17.2rem;
  font-size: 1.4367rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .qty-C6y {
  width: 2.6rem;
  height: 1.8rem;
  position: absolute;
  left: 35.4rem;
  top: 17.2rem;
  font-size: 1.4367rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .subtotal-G6q {
  width: 6.2rem;
  height: 1.8rem;
  position: absolute;
  left: 46.9rem;
  top: 17.3rem;
  font-size: 1.4367rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .rp-ijX {
  width: 2.1rem;
  height: 1.8rem;
  position: absolute;
  left: 44.4rem;
  top: 20.7rem;
  font-size: 1.4367rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .harga-start-up-PKs {
  width: 10.9rem;
  height: 1.8rem;
  position: absolute;
  left: 47.5rem;
  top: 20.7rem;
  font-size: 1.4367rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .rp-CYD {
  width: 2.1rem;
  height: 1.8rem;
  position: absolute;
  left: 44.4rem;
  top: 27.3rem;
  font-size: 1.4367rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .harga-total-fwb {
  width: 8.7rem;
  height: 1.8rem;
  position: absolute;
  left: 47.5rem;
  top: 27.3rem;
  font-size: 1.4367rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.invoice-ez1 .lock-Q61 .auto-group-t9qr-J8m .jumlah-total-Vfj {
  width: 9.7rem;
  height: 1.8rem;
  position: absolute;
  left: 3rem;
  top: 27.3rem;
  font-size: 1.4367rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
