
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.5rem;
}.invoice-ez1 {
  width: 100%;
  height: 96.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .lock-Q61 {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    box-sizing: border-box;
    padding: 5.9rem 6.4rem 19.2rem 6.5rem;
    background-image: url('REPLACE_IMAGE:31e2248b14d7a4d4f6c4a01f79fc848322315f9c');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .auto-group-z5ft-BY1 {
      height: 1.3rem;
      line-height: 1.2175;
      white-space: nowrap;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      font-size: 0.9973rem;
      font-style: italic;
      font-family: Montserrat, 'Source Sans Pro';
      color: #000000;
      flex-shrink: 0;
      margin: 0rem 20.2rem 5.7rem 0rem;
      width: 32.8rem;
      font-weight: 400;
      justify-content: center;
    }
    .tanggal-terbayar-3id {
      font-size: 1.4128rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.5rem 40rem;
    }
    .auto-group-t9qr-J8m {
      width: 100%;
      height: 61rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-2794-jzm {
        width: 61.6rem;
        height: 52.8rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .f611932e-3c28-4ec3-9cfb-b309ab213135-removebg-preview-1-daM {
        width: 58rem;
        height: 58rem;
        position: absolute;
        left: 1.8rem;
        top: 3rem;
        object-fit: cover;
        vertical-align: top;
        opacity: 0.3;
      }
      .no-202x-dlinv-00xx-no-tahun-kode-no-urut-GNR {
        height: 3.5rem;
        left: 3rem;
        top: 0.6rem;
        line-height: 1.2175;
        color: #000000;
        width: 18.7rem;
        position: absolute;
        font-size: 1.4128rem;
        font-weight: 700;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .nama-badan-usaha-yg-didaftarkan-urutan-pertama-yang-diisi-di-form-G13 {
        font-family: Montserrat, 'Source Sans Pro';
        top: 6.8rem;
        line-height: 1.2175;
        color: #000000;
        left: 3rem;
        font-size: 1.4128rem;
        font-weight: 700;
        white-space: nowrap;
        width: 52.6rem;
        height: 1.8rem;
        position: absolute;
      }
      .pt-start-up-jenis-pendirian-dan-paket-1sj {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        top: 21.1rem;
        font-size: 1.4128rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #000000;
        width: 27.8rem;
        position: absolute;
        left: 3rem;
      }
      .item-1-PtH {
        height: 1.8rem;
        position: absolute;
        top: 20.8rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 0.6rem;
        left: 36.7rem;
        font-size: 1.4128rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .rectangle-2795-ZwB {
        width: 57rem;
        height: 2rem;
        position: absolute;
        left: 2.3rem;
        top: 17.2rem;
        background-color: #970e28;
      }
      .rectangle-2796-5ed {
        width: 57rem;
        height: 0.3rem;
        position: absolute;
        left: 2.3rem;
        top: 25.6rem;
        background-color: #970e28;
      }
      .description-8cu {
        font-size: 1.4367rem;
        line-height: 1.2175;
        white-space: nowrap;
        width: 8.5rem;
        left: 13.4rem;
        top: 17.2rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1.8rem;
        position: absolute;
      }
      .qty-C6y {
        font-size: 1.4367rem;
        font-weight: 500;
        color: #ffffff;
        position: absolute;
        left: 35.4rem;
        top: 17.2rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 2.6rem;
        height: 1.8rem;
        line-height: 1.2175;
      }
      .subtotal-G6q {
        color: #ffffff;
        width: 6.2rem;
        top: 17.3rem;
        left: 46.9rem;
        font-size: 1.4367rem;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        position: absolute;
      }
      .rp-ijX {
        height: 1.8rem;
        position: absolute;
        left: 44.4rem;
        top: 20.7rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 2.1rem;
        font-size: 1.4367rem;
        font-weight: 500;
        line-height: 1.2175;
      }
      .harga-start-up-PKs {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        width: 10.9rem;
        height: 1.8rem;
        top: 20.7rem;
        font-size: 1.4367rem;
        font-weight: 500;
        position: absolute;
        left: 47.5rem;
        line-height: 1.2175;
        white-space: nowrap;
      }
      .rp-CYD {
        height: 1.8rem;
        top: 27.3rem;
        font-size: 1.4367rem;
        font-weight: 700;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        width: 2.1rem;
        position: absolute;
        left: 44.4rem;
        line-height: 1.2175;
        white-space: nowrap;
      }
      .harga-total-fwb {
        left: 47.5rem;
        font-size: 1.4367rem;
        font-weight: 700;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        height: 1.8rem;
        top: 27.3rem;
        line-height: 1.2175;
        white-space: nowrap;
        width: 8.7rem;
      }
      .jumlah-total-Vfj {
        width: 9.7rem;
        height: 1.8rem;
        position: absolute;
        top: 27.3rem;
        left: 3rem;
        font-size: 1.4367rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
